.contenido
    margin-bottom: 40px
    justify-content: space-evenly
    contenedor()

.caja
    max-width: 450px
    caja-sombra()
    &__imagen
        margin: 30px
    &__contenido
        padding: 20px
        background-color: color-light
        span
            color: color-secondary
            titulos(Fuente2)
        h3
            font-weight: normal
            titulos(Fuente2)
